<aside class="sidebar _wrapper -active" data-module="sidebar">

  <header class="sidebar _header -bg-light-x">
    <div class="sidebar _toggler -bg-sidebar">
    </div>
  </header>
  <div class="sidebar _inner -bg-sidebar">
    
    <ol class="basket _wrapper">
      <li class="basket _item -bg-sidebar-item"></li>
      <li class="basket _item -bg-sidebar-item"></li>
      <li class="basket _item -bg-sidebar-item"></li>
    </ol>

    <ul class="selector _wrapper">
      <li><a href="#" data-skin="vert" data-color="19A974"></a></li>
      <li><a href="#" data-skin="bleu" data-color="357EDD"></a></li>
      <li><a href="#" data-skin="jaune" data-color="FFB700"></a></li>
      <li><a href="#" data-skin="jade" data-color="9EEBCF"></a></li>
      <li><a href="#" data-skin="marine" data-color="00449E"></a></li>
      <li><a href="#" data-skin="rouge" data-color="E7040F"></a></li>
    </ul>

  </div>
  <footer class="sidebar _footer -bg-sidebar">
    <button class="button _wrapper -primary -bg-light-x">
      Confirmer le panier
    </button>
  </footer>
</aside>